@main {
@header("about")

<article>
   <div class="article-border">
      <div class="container">
         <div class="grid-12">
            <div class="article-text">
               <p>Основой деятельности мастерской <span>Vintage Design</span> является преображение зеркала или стекла до состояния произведения искусства. Мы искренне рады смелым идеям и готовы воплотить их в жизнь. Приоритетом для себя мы выбрали создание единичных и неповторимых работ из зеркал и создание индивидуальных работ для интерьера. Мы находимся в постоянном движении и поиске новых решений и возможностей.</p>
               <p class="article-color">Там где другие разводят руками и говорят что это невозможно, мы добиваемся цели.</p>
               <p>Мастерская <span>Vintage Design</span> предлагает возможность соединения множества техник в одном полотне. Плодами наших исследований стало возрождение техники <b>Эгломизе</b>, стекло с нанесением зеркального рисунка, зеркала призраки и наша гордость <b>Криптотипия</b>.</p>
               <div class="border-article"></div>
               <p>Мы не остановимся на достигнутом и будем развивать направления дальше. Мы дорожим своим именем и отвечаем за качество наших работ. Работа с заказчиком ведется индивидуально с учетом его потребностей. Цена на каждую работу считается отдельно исходя от размера, типа и сложности.</p>
            </div>
         </div>
      </div>
   </div>
</article>
}