@(opinionForm:Form[Opinion])

@import views.form.AdminAddItemFieldConstructorHelper._

@adminMain {
@helper.form(action = routes.AdminVintageDesign.postOpinion, 'enctype -> "multipart/form-data") {
@helper.inputText(opinionForm("name"), 'placeholder -> "Имя")
@helper.inputText(opinionForm("text"), 'cols -> "80", 'rows -> "11")(handler = textAreaConstructor, implicitly[Lang])
<input type="file" name="photo" required>
<p><input type="submit" value="Отправить"></p>
}

<script>initSample();</script>
<script type="text/javascript" src="@routes.Assets.versioned("javascripts/dropzoneInitializer.js")"></script>
}
