@(itemNames:Seq[String], currentType:String)

@adminMain {
<div class="container">
    <div class="grid-12 menu-fon">
        <div class="menu-name">
            <h1>Управление сайтом</h1>
        </div>
        <div class="grid-12 menu-pad">
            <div class="grid-3">
                <div class="menu">
                    <p>Разделы</p>
                    <ul>
                        <li @if(currentType.equals("opinions")) {class="active"}><a href="@routes.AdminVintageDesign.menu("opinions")">Отзывы</a></li>
                        <li @if(currentType.equals("categories")) {class="active"}><a href="@routes.AdminVintageDesign.menu("categories")">Категории зеркал</a></li>
                        <li @if(currentType.equals("orderMirrors")) {class="active"}><a href="@routes.AdminVintageDesign.menu("orderMirrors")">Зеркала на заказ</a></li>
                        <li @if(currentType.equals("mirrors")) {class="active"}><a href="@routes.AdminVintageDesign.menu("mirrors")">Зеркала на продажу</a></li>
                    </ul>
                </div>
            </div>
            <div class="grid-9">
                <div class="element">
                    <p><a class="bt" href="@routes.AdminVintageDesign.addItemPage("opinions")">Добавить</a></p>
                    <table>
                        @for(itemName <- itemNames) {
                        <tr>
                            <td class="left"><p>@itemName</p></td>
                            <td><a href=""><span>Редактировать</span></a></td>
                            <td><a href="@routes.AdminVintageDesign.delete(currentType, itemName)"><span>Удалить</span></a></td>
                        </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
}