@adminMain {
<!--<section>-->
    <!--<div id="dropzone">-->
        <!--<form action="/upload" class="dropzone dz-clickable" id="demo-upload">-->
            <!--<div class="dz-message">-->
                <!--Drop files here or click to upload.<br>-->
            <!--</div>-->
        <!--</form>-->
    <!--</div>-->
<!--</section>-->

<!--<script>-->
	<!--initSample();-->
<!--</script>-->


}