@(loginForm:Form[(String,String)])

@import views.form.AdminLoginFieldConstructorHelper._

@adminMain {
<div class="center-form">
    <div class="color-center-form">
        <h1>Вход в панель управления сайтом</h1>
        @helper.form(action = routes.Auth.authenticate) {
        @helper.inputText(loginForm("login"), 'placeholder -> "Логин")
        @helper.inputText(loginForm("password"), 'placeholder -> "Пароль")
        <p><i>При проблемах обращайтесь в<a href=""> службу поддержки</a></i></p>
        <input class="bt" type="submit" value="Войти">
        }
    </div>
</div>
}