@(article:Article, descriptions:Seq[String], photos:Seq[String])

@main {
@header("")
<article>
    <div class="article-border">
        <div class="container">
            <div class="grid-12">
                <div class="gallery">
                    <div class="gallery-text">
                        <h2>@article.name</h2>
                        @Option(descriptions).map { paragraphs =>
                        @paragraphs.map { paragraph =>
                        <p>@paragraph</p>
                        }
                        }
                    </div>

                    <div class="col5">
                        @for( i <- 0 to photos.length-1) {
                            @defining(photos(i)) { photo =>
                            @defining(i+1) { index =>
                        <div class="item">
                            <div class="gallery-img cl-effect-10">
                                <a href="@routes.Assets.versioned("images/posts/" + photo)" data-lightbox="roadtrip" data-hover="@index.toString">
                                <img src="@routes.Assets.versioned("images/posts/" + photo)">
                                <h3>@index.toString</h3>
                                </a>
                            </div>
                        </div>
                        }
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
}