@(articleSeq: Seq[Article], shortDescriptions:Seq[String])

@main {
@header("articles")
<article>
    <div class="article-border">
        <div class="container">
            <div class="grid-12">
                @Option(articleSeq).map { articles =>
                @articles.map { article =>
                @defining(shortDescriptions(articles.indexOf(article))) { short =>
                <div class="blog">
                    <div class="blog-img">
                        <a href="@routes.VintageDesign.article(article.id)"><img src="@routes.Assets.versioned("images/posts/" + article.mainPhoto)"></a>
                    </div>
                    <div class="blog-text">
                        <h2>@article.name</h2>
                        <p>@short</p>
                        <p><a href="@routes.VintageDesign.article(article.id)">Подробнее</a></p>
                    </div>
                </div>
                }
                }
                }
            </div>
        </div>
    </div>
</article>
}