<div id="footer">
    <div class="copy">
        <div class="container">
            <div class="grid-12">
                <p>Все права сохранены, 2015 Vintage Design</p>
                <a class="m-studio" href="http://m-studios.ru" title="Мы делаем сайты" target="_blank"><img src="@routes.Assets.versioned("stylesheets/img/logo-st.png")"></a>
            </div>
        </div>
    </div>
</div>