@(categorySeq: Seq[Category], shortDescriptions:Seq[String], opinionSeq: Seq[Opinion], orderForm:Form[Order])

@main {
@header("main")
<div class="parallax">
    <div class="container">
        <div class="grid-12">
            <div class="parallax-p">
                <h1>Vintage Design</h1>

                <p class="parallax-h">Зеркальная мастерская</p>

                <!--<p class="parallax-text">Основой деятельности мастерской является преображение зеркала или стекла до-->
                    <!--состояния произведения искусства. Мы искренне рады смелым идеям и готовы воплотить их в жизнь.-->
                    <!--Приоритетом для себя мы выбрали создание единичных и неповторимых работ из зеркал и создание-->
                    <!--индивидуальных работ для интерьера. Там где другие разводят руками и говорят что это невозможно, мы-->
                    <!--добиваемся цели.</p>-->
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="grid-12">
        @for( i <- 0 to categorySeq.length -1) {
        @defining(categorySeq(i)) { category =>
        <div class="katalog-block">
            @if(i%2 == 0) {
            <div class="katalog-img">
                <a href="@routes.VintageDesign.galleryItem(category.name)"><img src="@routes.Assets.versioned("images/category/" + category.photo)"></a>
            </div>
            }
            <div class="katalog-text">
                <div class="border"></div>
                <h2>@category.name</h2>

                <p>@shortDescriptions(i)</p>
                <a href="@routes.VintageDesign.galleryItem(category.name)">Подробнее</a>
            </div>

            @if(i%2 == 1) {
            <div class="katalog-img">
                <a href="@routes.VintageDesign.galleryItem(category.name)"><img src="@routes.Assets.versioned("images/category/" + category.photo)"></a>
            </div>
            }
        </div>
        }
        }
    </div>
</div>

<div class="slider-bg-color">
    <div class="container">
        <div class="grid-12">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    @Option(opinionSeq).map { opinions =>
                    @opinions.map { opinion =>

                    @defining(opinions.indexOf(opinion)) { opinionIndex =>
                    @if(opinionIndex % 3 == 0){
                    @if(opinionIndex == 0){
                    <div class="item active">
                        } else {
                        <div class="item">
                            }
                            <div class="col3 col3icon">
                                }

                                <article class="item">
                                    <img src="@routes.Assets.versioned("images/opinion/" + opinion.photo)">
                                    <p class="h-icon">@opinion.name</p>
                                    <p class="text-icon">@opinion.text</p>
                                </article>

                                @if(opinionIndex % 3 == 2 || opinionIndex == opinionSeq.length - 1){
                                </div>
                                </div>
                                }
                        }
                        }
                        }
                    </div>
                    <ol class="carousel-indicators">
                        @for(i <- 0 to opinionSeq.length - 1) {
                            @if(i == 0) {
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            } else {
                                @if(i % 3 == 0) {
                                        @defining(Math.floor(i/3).toInt) { pageIndex =>
                                        <li data-target="#carousel-example-generic" data-slide-to="@pageIndex"></li>
                                    }
                                }
                            }
                        }
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-block">
        <div class="container">
            <div class="grid-12">
                @modalOrderForm(orderForm)
            </div>
        </div>
    </div>

    @mapAndContacts()
}